---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import { createTree, walkTree } from "../../helpers/tree";

const exclude: string[]= [];

const posts = (await getCollection('notes')).filter((a) => {
	return !exclude.includes(a.slug);
});

const tree = createTree(posts);
const lines = walkTree(tree);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 1080px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li * {
				text-decoration: none;
				/* monospace */
				font-family: 'Fira Code', monospace;
				transition: 0.2s ease;
			}
			.title {
				margin: 0;
				color: rgb(var(--offwhite));
				line-height: 1;
			}
			ul li a:hover h4 {
				color: rgb(var(--accent));
			}
			/* reduce font size if screen is small */
			@media (max-width: 768px) {
				main {
					width: 100%;
				}
				.title {
					font-size: 1.75rem;
				}
			}
			@media (max-width: 500px) {
				.title {
					font-size: 1.25rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					<!-- <li> -->
					<!-- 	<a href={`${import.meta.env.BASE_URL}blog/${post.slug}/`}> -->
					<!-- </li> -->
					{lines.map((line) => (
						<li>
							<style>
							</style>
							<span>
							{line.data ? (
									<h4 class="title">{line.text}
										<a href={`${import.meta.env.BASE_URL}notes/${line.data.slug}/`}>
											{line.name}
										</a>
									</h4>
							) : (
								<h4 class="title">{line.text}</h4>
							)}
							</span>
						</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
