---
import Base from "../../layouts/Base.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import url_for from "../../helpers/url";

type Post = CollectionEntry<"photography">;

const photos: Post[] = (await getCollection("photography")).sort((a, b) => {
	return a.data.date > b.data.date ? -1 : 1;
});

function photoDate(date: Date) {
	// format like YYYY/MM/DD
	return date.toISOString().slice(0, 10);
}
---

<Base
	title="Photography"
	description="my photography"
	disableFooter={true}
	fullWidth={true}
>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		.gallery {
			display: flex;
			flex-flow: wrap;
			justify-content: center;
			align-items: center;
		}
		.gallery-item {
			flex-grow: 1;
			max-width: 480px;
		}
		.gallery-item:before {
			content: "";
			display: block;
			padding-top: 10%;
		}
		figure img {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
		figcaption {
			font-size: 0.9em;
		}
		figcaption .caption {
			font-style: italic;
		}
		figcaption .tags {
		}
		.intro {
			text-align: center;
		}
	</style>
	<section>
		<p class="intro">
			Just with my phone camera, being obsessed with cameras and lenses is a
			obsession for future me.
		</p>
		<p class="intro">
			Am going to try syndicating this to <a
				href="https://www.instagram.com/purplepinapples1/">instagram</a
			> to see how I like that
		</p>
		<div class="gallery">
			{
				photos.map((line) => {
					return (
						<figure class="gallery-item">
							<a
								href={url_for(`/photography/full/${line.data.image}`)}
								target="_blank"
							>
								<img
									width={line.data.thumbnail_width}
									height={line.data.thumbnail_height}
									src={url_for(`/photography/thumbs/${line.data.image}`)}
								/>
							</a>
							<figcaption>
								<p>
									{photoDate(line.data.date)} | {line.data.tags}
								</p>
								{line.data.caption && (
									<p class="caption">{line.data.caption}</p>
								)}
							</figcaption>
						</figure>
					);
				})
			}
		</div>
	</section>
</Base>
