---
type Props = {
    src: string;
    alt: string;
    caption?: string;
    notes?: string;
};

const { src, alt, caption, notes } = Astro.props;
---

<style>
  div {
    margin: 2em 0;
  }
  a {
    display: block;
    max-width: 50%;
  }

  img {
    max-width: 100%;
    height: 500px;
    object-fit: contain;
  }
</style>
<div>
  <a href={src} target="_blank">
    <img src={src} alt={alt} />
    {caption && <figcaption>{caption}</figcaption>}
  </a>
  {notes && <p>{notes}</p>}
</div>
