---
import BaseHead from './BaseHead.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from './../consts';
import { type CollectionEntry } from 'astro:content';
import { createTree, walkTree } from "../helpers/tree";
import url_for from '../helpers/url';

type Post = CollectionEntry<'notes'>;

type Props = {
	posts: Post[];
};

const { posts } = Astro.props;
const lines = walkTree(createTree(posts));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 1080px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				gap: 1rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			.title {
				margin: 0;
				color: rgb(var(--offwhite));
				line-height: 1;
			}
			.icon-container {
				display: flex;
				flex-direction: row;
			}
			.icon-container svg {
				margin-right: 0.5rem;
				vertical-align: middle;
			}
			ul li a:hover h4 {
				color: rgb(var(--accent));
			}
			/* reduce font size if screen is small */
			@media (max-width: 768px) {
				main {
					width: 100%;
				}
				.title {
					font-size: 1.75rem;
				}
			}
			@media (max-width: 500px) {
				.title {
					font-size: 1.25rem;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{lines.map((line, index) => (
						<li>
							<style>
							</style>
							{line.data ? (
									<h4 class="title">
										{line.text}
										<a href={url_for(`notes/${line.data.slug}/`)}>
											{line.name}
										</a>
									</h4>
							) : (
								<div class="icon-container">
								<span>{(index === 0) && <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 19l2.757 -7.351a1 1 0 0 1 .936 -.649h12.307a1 1 0 0 1 .986 1.164l-.996 5.211a2 2 0 0 1 -1.964 1.625h-14.026a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2h4l3 3h7a2 2 0 0 1 2 2v2" /></svg>}</span>
								<h4 class="title">{line.text}</h4>
								</div>
							)}
						</li>
					))}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

